<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:name="android.app.Application" android:label="iDeviceRestore • Diagnostics Preview" tools:replace="android:name,android:label">
        <activity android:name=".MainActivity" tools:node="remove" />
        <activity-alias android:name=".UsbAttachActivityAlias" tools:node="remove" />
        <service android:name=".FirmwareDownloadService" tools:node="remove" />
        <activity android:name=".PreviewActivity" android:exported="true" android:label="Diagnostics Preview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
